
.header-home-button {
    font-size : 0.5em;
    padding: 0px 20px;
    border-radius: 20px;
    text-align: center;
}

@media screen and (max-width : 1024px) {
    .header-home-button {
        width : 100%;
    }
}