.skill-list {
    display : flex; 
    width : 100%; 
}

@property --color {
    syntax: "<color>";
    inherits: true; 
    initial-value: lightgrey; 
}

@property --bg-color {
    syntax: "<color>";
    inherits: true; 
    initial-value: black; 
}


.skill-outline {
    --color    : grey; 
    --bg-color : transparent; 
    padding : 3px; 
    border-width: thin;
    border-radius: 10px;
    border-style: solid;
    /* margin : 5px; */
    background-color: transparent;
    border-color : transparent;
    transition : border-color 0.3s ease-in-out;
}

.skill-outline:hover {
    border-color : var(--bg-color)
}

.skill {
    --color    : grey; 
    --bg-color : transparent; 

    padding : 0px 7px; 
    
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    color : var(--color); 
    background-color: var(--bg-color);
    flex : 0 0 auto; 
    transition : color 0.3s, background-color 0.3s;
}

.default-skill {
    --color    : grey; 
    --bg-color : transparent; 
}

html:has(.default-skill:hover) .default-skill{

    --color    : black; 
    --bg-color : grey; 
}

.programming-language-skill {
    --color    : coral; 
    --bg-color : transparent; 
}

html:has(.programming-language-skill:hover) .programming-language-skill {
    --color    : black; 
    --bg-color : coral; 
}

.technology-skill {
    --color    : lightblue; 
    --bg-color : transparent; 
}

html:has(.technology-skill:hover) .technology-skill {
    --color    : black; 
    --bg-color : lightblue; 
}

.design-skill {
    --color    : orange; 
    --bg-color : transparent; 
}


html:has(.design-skill:hover) .design-skill {
    --color    : black; 
    --bg-color : orange; 
}

.soft-skill {
    --color    : lightgreen; 
    --bg-color : transparent; 
}

html:has(.soft-skill:hover) .soft-skill {
    --color    : black; 
    --bg-color : lightgreen; 
}