* { box-sizing: border-box; }

:root {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
#root {
    height : 100%
}
html { 
    margin:0;
    padding: 0;
    height: 100%; 
}
body { 
    margin:0;
    padding: 0;
    height: 100%; 
}

button {
    background-color: #242424;
    color: white;
    border-radius: 5px;
    border-style: none;
    border-width: thin;
    border-color: rgb(161, 161, 161);
    text-align: left;
}

button:hover {
    background-color: #505050;
}