
/* .project-list {
    box-sizing            : border-box; 
    padding               : 5px; 
    max-width             : 100%; 
    min-height            : 100%;
    border-radius         : 20px;
    display               : grid; 
    grid-template-columns : repeat(3, 1fr);
    grid-auto-rows: 1fr;
    background-color      : initial;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-around;
}

@media screen and (max-width : 1024px) {
    .project-list {
        overflow: auto;
        grid-template-columns : repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}

@media screen and (max-width : 512px) {
    .project-list {
        overflow: auto;
        grid-template-columns : repeat(1, 1fr);
        grid-auto-rows: 1fr;
    }
}

.project-display {
    width   : 100%;
    height  : 100%;
    border-radius: 20px;
    background-color : #242424;
    border-style: solid;
    border-width : medium;
    border-color: #242424;
    text-decoration: none;
    color:white;
    box-sizing: border-box;

    --display-angle: 0deg;
    --display-scale: 1.0; 
    transform: rotate(var(--display-angle)) scale(var(--display-scale));
    transition: transform 250ms ease-in-out
}

.project-display:hover {
    border-color: white;
}

@media screen and (min-width : 1024px) {
    .project-display:hover {
        --display-angle : 0deg;
        --display-scale : 1.15; 
        z-index:1;
    }

    .project-display:not(:hover) {
        --display-angle : 0deg;
        --display-scale : 1; 
        z-index:0;
    }
}
 */
.project-list {
    box-sizing            : border-box; 
    padding               : 0px 1px; 
    gap                   : 1px;
    max-width             : 100%; 
    min-height            : 100%;
    display               : grid; 
    /* grid-template-columns : repeat(3, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows        : 1fr;
    background-color      : initial;
    justify-content: space-around;
}

.project-display { 
    display: flex;
    flex-direction: column;
    width : 100%; 
    height : 100%; 
    background-color: var(--background-color);
    padding : 20px;
    border-color: white;
    outline: 1px solid white;
}

@media screen and (max-width : 1024px) {
    .project-list {
        overflow: auto;
        grid-template-columns : repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}

@media screen and (max-width : 512px) {
    .project-list {
        overflow: auto;
        grid-template-columns : repeat(1, 1fr);
        grid-auto-rows: 1fr;
    }
}
.project-link {
    background-color: var(--background-color);
    color: white;
    border-radius: 5px;
    padding : 2px 15px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    text-align: left;
    text-decoration: none;

    flex: 0 0 auto;
    align-self: flex-start;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}

.project-link:hover {
    background-color: white;
    color: var(--background-color);
    
}

.project-image {
    width  : 100%;
    max-height  :100px;
    padding:10px;
    border-radius: 20px;
    object-fit: cover;
}

.project-title {
    font-size: larger;
    margin : 0px;
}

.project-description {
    flex: 1 0 auto;
}

.project-skill-list { 
    padding : 5px 0px;
}