.home-tab {
    display:flex; 
    box-sizing: border-box;
    align-items: flex-start;
    gap : 40px;
    width : 100%; 
    height : 100%; 
}

.home-photo {
    float : left; 
    width : 20%; 
    aspect-ratio: 5 / 7;
    object-fit: cover;
    border-radius: 20px;
    border-color: white;
    border-width: thin;
    border-style: none;
    flex: 0 0 auto;
}

.home-link-icons {
    float : left;
    padding : 0px; 
    text-align: center;
    
}

.home-link-icon {
    font-size: 30px;
    margin : 0 auto; 
    padding: 20px;
    color: white;
    flex : 1 1 auto; 
}

@media screen and (max-width : 1024px) {
    .home-tab {
        padding : 0px; 
        gap: 10px;
    }
    .home-photo {
        height : 100%;
        width : auto; 
        aspect-ratio : 5 / 7;
    }
    .home-content {
        height : 100%;
        overflow: auto;
    }
}

@media screen and (max-width : 512px) {
    .home-tab {
        flex-direction: column;
        overflow: auto;
        gap : 10px;
    }
    .home-photo {
        width : 50%;
        height : auto;
        align-self: center;
    }
    .home-content {
        height : auto;
    }
}