.resume-list {
    display : flex;
    flex-direction: column;
    min-height : 100%; 
    width  : 100%;
}

.resume {
    display: flex; 
    flex-direction: column;
    min-height : 100%; 
    width  : 100%;
}

.resume-title {
    height : auto; 
    width : auto; 
    
}

.resume-data { 
    flex: 1 0 100%;
}

@media screen and (max-width : 1024px) {
    .resume-title {
        margin : 0px; 
        padding : 5px; 
    }
}
