.website-sidebar {
    display : flex;
    flex-direction: column;
    width : 100%; 
}

.sidebar-button {

    width : 100%;
    height : 30px;
}



@media screen and (max-width : 1000px) {
    .website-sidebar {
        flex-direction: row;
    }

    .sidebar-button{
        flex-grow: 1;
    }
}