.website-sidebar {
    width : 100%; 
}

.sidebar-button {
    width : 100%;
    height : 30px;
}

.sidebar-icons {
    padding : 20px; 
    text-align: center;
}
.sidebar-link-icon {
    font-size: 30px;
    margin : 0 auto; 
    padding: 20px;
    color: white;
}