.website-sidebar {
    display : flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap   : 20px;
    width : 100%; 
}

.sidebar-button {
    box-sizing: border-box;
    font-size: large;
    width : auto;
    height : auto;
    padding : 2px 15px;
    margin: 0px 1%;
    color: white; 
    text-align: center;
    border-radius: 20px;
    border-color: transparent;
    border-style: solid;
}

.sidebar-button:hover {
    color: var(--background-color);
    background-color: white;
}

.sidebar-currently-selected {
    
    border-color: white;
}

.sidebar-not-currently-selected {
    border-color: transparent;
}


@media screen and (max-width : 1024px) {
    .website-sidebar {
        flex-direction: row;
    }

    .sidebar-button{
        flex: 1 1 auto;
        text-align: center;
    }
}

@media screen and (max-width : 512px) {
    .website-sidebar {
        gap : 20px 0px;
    }
    .sidebar-button {
        font-size: medium;
        margin : 0px;
        padding : 0px 0px;
    }
}