
.site-grid {
    box-sizing: border-box;
    display : grid; 
    min-width  : 100%; 
    min-height : 100%;
    padding    : 50px;
    gap: 10px 10px;
    grid-template-columns: 12vw auto;
    grid-template-rows: 10vh auto auto 1fr;
    grid-template-areas: 
        "header  main"
        "sidebar main"
        "footer  main"
        ".       main";

}

@media screen and (max-width : 1024px) {
    .site-grid {
        box-sizing: border-box;
        display : grid; 
        max-width  : 100%; 
        max-height : 100%;
        padding : 20px;
        gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: 7vh auto minmax(0, 1fr) auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer";

    }
}

.site-grid-header {
    box-sizing: border-box;
    grid-area : header; 
}

.site-grid-sidebar {
    box-sizing: border-box;
    grid-area : sidebar;
}

.site-grid-content {
    width  : 100%; 
    height : 100%; 
    grid-area : main; 
    /* overflow: auto; */
}

.site-grid-footer {
    align-self : start; 
    grid-area : footer;
}