
.site-grid {
    box-sizing: border-box;
    display : grid; 
    width   : 100%; 
    height  : 100%; 
    padding : 50px;
    gap: 40px 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header  sidebar"
        "main    main";
        /* "footer  footer"; */
        /* ".       main"; */

}

@media screen and (max-width : 1024px) {
    .site-grid {
        box-sizing: border-box;
        display : grid; 
        max-width  : 100%; 
        max-height : 100%;
        padding : 20px;
        gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto minmax(0, 1fr) auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main";
            /* "footer"; */

    }
}

.site-grid-header {
    box-sizing: border-box;
    grid-area : header; 
}

.site-grid-sidebar {
    box-sizing: border-box;
    grid-area : sidebar;
}

.site-grid-content {
    width  : 100%; 
    height : 100%; 
    grid-area : main; 
    overflow: auto;
    scrollbar-gutter: stable;
    
}
.site-grid-tab-content { 
    animation: fade-in .75s ease-in-out;
    scrollbar-gutter: stable;
}

@keyframes fade-in {
    0% {
        transform: translateY(50%);
        opacity : 0;
    } 
    100%   {
        transform: translateY(0px);
        opacity : 1;
    }
}

.site-grid-footer {
    align-self : start; 
    grid-area : footer;
}