
.site-grid {
    display : grid; 
    min-width  : 100%; 
    min-height : 100%;
    padding    : 10px;
    gap: 10px 10px;
    grid-template-columns: 12vw auto;
    grid-template-rows: 12vh auto;
    grid-template-areas: 
        "header header"
        "sidebar main";

}

.site-grid-header {
    grid-area : header; 
}

.site-grid-content {
    grid-area : main; 
}