.courses-school-data {
    display : grid;
    grid-template-columns : minmax(0px, 1fr); 
    grid-template-rows    : auto 1fr;
    grid-template-areas: 
        "school-name" 
        "school-courses";

    height : 100%;
    width  : 100%;
}

.courses-school-name {
    grid-area : school-name;
    padding : 0px; 
    margin : 0px;
}


.courses-semester-data {
    grid-area: school-courses;
    display : grid; 
    grid-template-columns: 15% 1fr; 
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: "courses-sidebar courses-content";
    height : 100%;
    width  : 100%;
    overflow : auto;
    align-items: start;

    > .tabs-bar {
        grid-area: courses-sidebar;
        display : flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        /* padding : 10px;  */
        height : 100%;
        width  : 100%;
        overflow : auto; 
        scrollbar-gutter: stable;
        
        > * {
            flex: 1 0 auto;
        }
    };

    > .tabs-current-content {
        grid-area : courses-content;
    };
}


.courses-tab-list {
    height : 100%;
}

.courses-course-tab {
    display : block;
    width   : 100%;
    /* margin  : 0px 5px;  */
    border-style: solid;
    border-color:transparent;
    
}

.courses-course-tab.tab-selected {
    border-color: white;
}

.courses-course-tab.tab-not-selected {
    border-color: transparent;
}

.courses-semester {
    > .tab-group-name {
        margin : 0px; 
        padding : 5px; 
    }
}

@media screen and (max-width : 1024px) {

    .courses-school-name {
        padding : 0px; 
        margin : 0px;
    }

    .courses-course-tab {
        padding : 0px 10px;
    }

    .courses-semester-data {
        grid-template-columns: 30% 1fr; 
    }
}

@media screen and (max-width : 512px) {
    .courses-semester-data {
        grid-template-columns: 45% 1fr; 
    }
}