.letters-list {
    display : flex;
    flex-direction: column;
    min-height : 100%; 
    width  : 100%;
}

.letter {
    display: flex; 
    flex-direction: column;
    min-height : 100%; 
    width  : 100%;
}

.letter-title {
    height : auto; 
    width : auto; 
}

.letter-data { 
    flex: 1 0 auto;
}